:root {
  --text-color: #004d40;
  --background-color: #b2dfdb;
  --accent-color: #e6ee9c;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

img {
  height: 350px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--background-color);
  padding: 8px 12px;
}

.navbar__logo {
  color: var(--text-color);
  font-size: 25px;
}

.navbar__logo i {
  color: #39796b;
  padding: 5px;
}

.navbar__menu {
  display: flex;
  list-style: none;
  padding-left: 0;
  background: var(--background-color);
}

.navbar__menu li {
  padding: 8px 25px;
}

.navbar__menu li:hover {
  background: var(--accent-color);
  border-radius: 5px;
}

.navbar__icons {
  display: flex;
  list-style: none;
  font-size: 22px;
  color: var(--text-color);
  padding-left: 0;
  background: var(--background-color);
}

.navbar__icons li {
  padding: 8px 5px;
}

.navbar__toogleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 30px;
  color: #39796b;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }

  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: var(--background-color);
  }

  .navbar__menu li {
    width: 100%;
    text-align: center;
  }

  .navbar__icons {
    display: none;
    justify-content: center;
    width: 100%;
    background: var(--background-color);
  }

  .navbar__toogleBtn {
    display: block;
  }

  .navbar__menu.active,
  .navbar__icons.active {
    display: flex;
  }
}
